.jfx-snackbar-content {
    -fx-background-color: #31ab47;
    -fx-background-radius: 10;
}
.jfx-snackbar-toast {
    -fx-text-fill: #eceff4;
    -fx-font-family: "Josefin Sans Regular"
}
.jfx-snackbar-action {
    -fx-text-fill: #eceff4;
}


